<img width="150" height="40" ng-src="../img/logo.jpg" alt="LOGO" style="border: 1px solid #1B6D85;margin-top: 10px;margin-left: 48px;"/>

<div>
    <blockquote>
        <p>面包屑样例</p>
    </blockquote>

    <ol class="breadcrumb">
        <li><a href="#">主页</a></li>
        <li><a href="#">一般样例</a></li>
        <li class="active">其他</li>
    </ol>

</div>

<div>
    <blockquote>
        <p>其他样例</p>
    </blockquote>
    <span class="label label-default">Default</span>
    <span class="label label-primary">Primary</span>
    <span class="label label-success">Success</span>
    <span class="label label-info">Info</span>
    <span class="label label-warning">Warning</span>
    <span class="label label-danger">Danger</span>
</div>